(lang dune 3.22)

(name {{PROJECT_NAME}})

(license {{LICENSE}})

(authors "{{AUTHOR_NAME}} <{{AUTHOR_EMAIL}}>")

(maintainers "{{AUTHOR_NAME}} <{{AUTHOR_EMAIL}}>")

(source
 (github {{GIT_ORG}}/{{PROJECT_NAME_KEBAB}}))

(documentation https://{{GIT_ORG}}.github.io/{{PROJECT_NAME_KEBAB}})

(generate_opam_files true)

(package
 (name {{PROJECT_NAME}})
 (synopsis "{{PROJECT_SYNOPSIS}}")
 (description "{{PROJECT_DESCRIPTION}}")
 (depends
  (ocaml (>= {{OCAML_VERSION}}))
  (alcotest (and :with-test (>= 1.7.0)))))

; Uncomment for Tangled.org hosting:
; (source (tangled {{GIT_ORG}}/{{PROJECT_NAME_KEBAB}}))

; Uncomment for GitLab hosting:
; (source
;  (gitlab {{GIT_ORG}}/{{PROJECT_NAME_KEBAB}}))
